*.pyc
*.png
*.npy
*.npz
.ipynb_checkpoints/
*.log
*.mp4
*.feather
.*.sw?
data2
*sqlite
.vscode/
.DS_Store
.env
NERSC_arctic25km_sea_ice_age_v2p1
OSISAF_ice_drift_CDR_postproc
zarr
OSISAF_ice_conc_CDR_v3p0
*.xml
SAGE_RRDP
Arctic_buoys
IABP_live